body {
    background: rgb(25, 1, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    border: 1px dotted blueviolet;

}

.container .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid blueviolet;
    border-radius: 6px;
    margin: 10px;
    width: 80%;
    padding: 20px;
}


.header {
    grid-area: header;
    /* height:3rem; */
}

.navmenu {
    grid-area: navmenu;
    /* height: worked by ===grid-template-rows */
}

.sidebar {
    grid-area: sidebar;
    /* height: worked by ===grid-template-rows */
}

.maincontent {
    grid-area: maincontent;
    /* height: worked by ===grid-template-rows */
}

.footer {
    grid-area: footer;
    /* height: worked by ===grid-template-rows */
}

.grid-container {
    display: grid;
    grid-area: grid-template-areas;

    /* grid-template-columns: (worked by gird-template-areas); */
    grid-template-rows: 50px 30px 300px 70px;

    width: 90%;
    height: 90%;
    grid-template-areas: 'header header header header' 'navmenu navmenu navmenu navmenu' 'sidebar maincontent maincontent maincontent' 'footer footer footer footer';
    margin: 2px;
    padding: 10px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background: white;
}


h2 {
    color: aqua;
    margin: 3px;
}

.box {
    margin: 2px;
    background: rgb(0, 135, 133);
    padding: 2px;
    border: 1.5px solid rgb(15, 0, 217);
    border-radius: 3px;
}
